services:
  api_server:
    ports:
      - "8080:8080"

  relational_db:
    ports:
      - "5432:5432"

  index:
    ports:
      - "19071:19071"
      - "8081:8081"

  cache:
    ports:
      - "6379:6379"

  minio:
    # use different ports to avoid conflicts with model servers
    ports:
      - "9004:9000"
      - "9005:9001"
